<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { clifford: '#da373d', } }
      } }
    </script>
</head>
<body class="bg-gray-900">
 <!-- component -->
 {{#each user}}
 <div class="text-white font-extrabold text-4xl w-[10rem] h-[10rem]"><img src="./uploads/{{this.imagename}}" alt="image"> </div>
 {{/each}}
 <div class="text-gray-100 flex justify-center pt-20 font-extrabold text-4xl xs:text-5xl md:text-6xl">Students List </div>
<div class="overflow-x-auto">
        <div class="min-w-screen min-h-screen flex mt-8 justify-center  font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Student</th>
                                <th class="py-3 px-6 text-left">RollNo</th>
                                <th class="py-3 px-6 text-center">Phone No</th>
                                <th class="py-3 px-6 text-center">Purpose</th>
                                <th class="py-3 px-6 text-center">Return Date</th>
                                <th class="py-3 px-6 text-center">Return time</th>
                                <th class="py-3 px-6 text-center">Status</th>
                                
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">



    {{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 py-1 px-3 ml-1 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}

{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1 py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600  ml-1  py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}
{{!-- ************************************************************************************************************************************ --}}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">

                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <div class="mr-2">
                                            <img class="w-6 h-6 rounded-full hover:w-20 hover:h-20" src="./images/Suyash.jpg"/>
                                        </div>
                                        <span class="font-medium">Suyash Agrahari</span>
                                    </div>
                                </td>

                                <td class="py-3 px-6 text-left whitespace-nowrap">      
                                    <span class="font-medium">20ume047</span>   
                                </td>

                                
                                <td class="py-3 px-6 text-center">
                                    <span>8957089392</span>
                                </td>

                                <td class="py-3 px-6 flex justify-center text-center">
                                    <div class="w-[7rem] break-words">i am going to city for medical Purpose</div>
                                </td>


                                <td class="py-3 px-6 text-center">
                                    <span>07/09/2023</span>
                                
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>10:45 pm</span>
                                </td>

                                <td class="py-3 px-6 text-center">
                                    <button class="bg-green-200 hover:bg-green-300 text-green-600 py-1 px-3 rounded-full text-xs">
                                      Approve 
                                    </button>
                                    <button class="bg-red-200  hover:bg-red-300 text-red-600 ml-1   py-1 px-3 rounded-full text-xs">
                                      Disapprove 
                                    </button>
                                </td>
                            </tr>
                    

    {{!-- ************************************************************************************************************************************ --}}



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

     {{!-- lnmiit  logo --}}
    <div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mx-10 mr-4 z-10">
      <div>
        <a href="/" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
          <img class="object-cover object-center w-full h-full rounded-full" src="./images/lnmiit.logo.png"/>
        </a>
      </div>
    </div>
</body>
</html>